*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.entire-page{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display:flex;
    padding-top: 10px;
    padding-left:20px;
    padding-right:1px;
    flex-direction: row;
    position:fixed;
    overflow-y: hidden;
   
    
    
}
.twitter-logo-container{
    width:50px;
    height:50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
/* for the twitter logo I had to change its containers size to dynamically change its size */
.twitter-logo-container .twitter-logo{ 
    width:50px;
    height:30px;
    
}
.twitter-logo-container :hover{
    border-radius: 50%;
    background-color:#eaefef
    ;
    
}


.buttons{
    width:100%;
    height:8.2%;
    background-color: white;
    display: flex;
    align-items: center;
  
}

.button-content:hover{
    border-radius:15px;
    background-color:#eaefef
    ;
   padding-top: 2px;
   padding-bottom: 2px;
 
    
}
.button-content{
    display:flex;
    align-items:center;
    height: 50%;
    padding:12px;
    
}
.button-text{
    padding-left: 15px;
    font-size: 20px;
    color: #0F1419;
}
.icons{
    width:26.25px;
    height:26.25px;
    margin-left:11.875px;

}
.icons .sidebar-icons{
    width:26.25px;
    height:26.25px;
}




.section{
    display:flex;
    flex-direction: column;
    padding-left: 15px;
    
}

#sidebar {
    
    padding-left: 15px;
    width: 22vw;
    background-color:white;
    position:fixed;
    
    left:0;
    height:100vh;
    

}


.tweet-submit{
    width:80%;
    border: 0px;
    background-color: #1d9bf0;
    height:8%;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tweet-submit :hover{

    background-color:#1a90df ;
    width:100%;
    height:100%;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:0px;



}
.tweet-submit h4{
  color:white;
  font-size: 17px;
}
.account-section{
    height: 8%;
    width:18%;
    border-radius: 15%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    /* to keep account details at bottom */
    position: fixed;
    bottom: 20px;
    left:30px;
    
    
    
    
}
.account-section:hover{
    height: 8%;
    width:18%;
    background-color:#eaefef
    ;
    border-radius: 15%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    /* to keep account details at bottom */
    position: fixed;
    bottom: 20px;
    left:30px;
    z-index:5;
    border:0px;
    
    
    
    
    
}

.material-icons{
    font-size: 48px;
    color: #78909c;
    height: 100%;
    width: 17%;
    display: flex;
    align-items: center;
    justify-content: left;
}
#main-account-photo{
    width: 5%;
}
.account-details {
    height: 100%;
    margin-left: 17%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;



}
.name{
    font-weight: 700;
    font-size: 15px;
}
.account-tag p{
    margin-bottom:0;
    font-size: 15px;
}
.more-settings{
    margin-left: 10px;
}
#more-settings{
    font-size: 24px;
    color: #0F1419;
}
.feedandright-bar{
    /* background-color: #1d9bf0; */
    width: 100vw;
    margin-left:20vw;
    padding-left: 1vw;
    overflow-x: hidden;
    padding-bottom: 30px; 
  
    
    
    
}
.post-card :hover{
    cursor: pointer;
    background-color: #eaefef
    ;
}
.feed-section{
    display: flex;
    flex-direction: row;
    position: relative;
    /* background-color: beige; */
    
    height: 2668px;
    width: 100%;
}
.feed-column {
    display: flex;
    flex-direction: column;

    
   
    

}
#post-column{
    width:48vw;
    overflow-x: hidden;
    overflow-y: hidden;

  
    margin-top:172px;
    
    height: 2496px;
    /* background-color: aqua; */

    
   
}


#trends-column p{
    font-size: 15px;
}
#trends-column{
  
    width:35%;
    /* background-color: yellow; */
    height:2668px;
    
    
   
    
 
    
}
.trends-block{

   
    
    
    /* background-color: bisque; */
    height:2668px;
    
    display: flex;
    flex-direction: column;
    align-items: left;
    padding:5px;
   
    
    
   
   
}

.topblock{
    margin-top: 46px;
    height:6%;
    width:100%;
    /* background-color: green; */
    width: 48vw;
    position: absolute;
    top:0px;
    scroll-behavior: smooth;
    border-color:#eaefef
    ;
    border-style: solid;
    border-width: 0.1px;
    border-bottom: 0;
}

.topblock :hover{
    cursor: pointer;
}



.home-text{
    position: fixed;
    top:10px;
    /* left:20vw; */
    right: calc(45px+25.5%);
    width:48vw;


    display: flex;
    flex-direction: row;
    width: 48%;
    height: 50px;
    background-color:#ffffff;
    /* To make sure that home overlays when scrolling */
    z-index: 50;
    border-color:#eaefef
    ;
    border-style: solid;
    border-width: 0.1px;
    border-top: 0;
    border-bottom: 0;
}
#star{
    
    font-size: x-large;
  

    
}
.top-tweets{
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    right: 0px;
    top:5px;
    border-radius: 50%;

}
.top-tweets :hover{
    background-color: #eaefef
    ;
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    right: 0px;
    top:5px;
}
.post-text{
    display:flex;
    width:90%;
    border:none;
   
    cursor: text;
    /* background-color:pink; */
}
.post-text #input-space {
    width:100%;
    height: 80%;
    display: flex;
    align-items: center;
    border:0px;
    outline-width: 0; 
    font-weight: 400px;
    font-size: 18px;
    /* this gets rid of the border around the input section */

}
.post-text #input-space:hover {
    width:100%;
    height: 80%;
    display: flex;
    align-items: center;
    border:0px;
    cursor: text;

}
.post-text:hover{
    cursor:text;
  
}

#feed-account{
    display: flex;
    align-content: center;
    justify-content: center;
    width:10%;
}
.post-section{
    width: 100%;
    display: flex;
    
    height:50px;
    /* background-color:grey; */
}
.post-space{
    display: flex;
    background-color: white;
    color: #78909c;
    align-content:flex-start;
    justify-content:baseline;
    width: calc(48vw -10%);
    
}
#globe{
    padding-right: 0%;
    margin-right: 0px;
    font-size:18px;
    width: 20px;
    height: 100%;
    color:#1d9bf0;
    

}
.reply-permission{
    display: inline-block;
    display: flex;
    align-items:center;
    padding-left: 55px;
    /* background-color:purple; */
    width: 100%;
    
    color:#1d9bf0;

    
}
.reply-permission p1{
    
    height:100%;
    
    font-weight: 500;

}

.iconsandtweet{
    display: flex;
    
}

#topicons{
    font-size: 20px;
    padding: 0;
    margin: 0;
    width:fit-content;
    color: #1d9bf0;
    padding-right: 10px;
    padding-left: 10px;
    padding-top:10px;
    padding-bottom: 10px;
    border-radius: 50%;
}
#topicons:hover{
    background-color: #eaefef
    ;
    cursor: pointer;
}
.bottom-of-tweet-section{
    display: flex;
    width:100%;
    /* background-color:brown; */
    height:30%;
    align-content: center;
    align-items: center;
    padding-left: 55px;
    
}
#small-tweet{
    width:16% ;
    height: 80%;
    color:white;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin-left: 250px;
}
#small-tweet p {
    margin: 0;
    font-weight: 700;
}

.post-card{
    width:100%;
    height:700px;
    display: flex;
    margin-top: auto;
    border-color:#eaefef
    ;
    border-style: solid;
    border-width: 0.1px;
   

}
.thumbnail{
    height: 50px;
    width: 50px;
    /* background-color: white; */
    border-radius: 50%;
    border-bottom: 100px;
    padding:5px;
    margin: 10px;
   
   
    
    
}
.thumbnail :hover{
    background-color: #eaefef;
}
.propic{
    border-radius: 50%;
    border:1px;
    
}
.propic img{
    
    height:50px;
    width:50px;
    border-radius: 50%;
}
.maindetails{
    position: relative;
}
.account-name{
    display: flex;
    width:500px;
    height: 25px;
    justify-content: flex-start;
    margin-top: 10px;
    position:relative;
}
.account-name p2{
    font-weight: 500;
    width: fit-content;
    


}


.account-name p1{
    font-weight: 300;
    color:#78909c;
    width: fit-content;
 

}
#veryfy{
    display:flex;
    font-size: large;
    color: #1d9bf0;
    width: fit-content;
    
}
#hashtags{
    color:#83c8f7;
}


#hastags :hover{
    cursor:pointer;
}

.account-name #more-feed{
    font-size: large;
    
    
    
}
.dotbox{
   left:100%;
   position: absolute;
   height: fit-content;

}
.text-of-post{
    margin-right: 35px;
    padding-top:0px;
    width:500px;
    padding-right: 10px;
    word-wrap: break-word;
}
.text-of-post p{
    font-weight: 200;

}
.pic-upload-container{
    margin-top: 10px;
}
.post-pic img{
    border: #78909c 1px;
    border-radius: 15px;
    width: 500px;
    height: 300px;
}
.post-icons{
    display: flex;
    height: 50px;
    width:400px;
    margin-top: 10px;
    margin-left: 30px;
    margin-right:20px;
    padding-left: 20px;
    justify-content: space-around;
    justify-content: space-between;
}
#post-icons-id-comment{
    height:25px;
    width:25px;
    font-size:x-large;
}
#post-icons-id-transform{
    height:25px;
    width:25px;
    font-size:x-large;
}#post-icons-id-border{
    height:25px;
    width:25px;
    font-size:x-large;
}#post-icons-id-upload{
    height:25px;
    width:25px;
    font-size:x-large;
}
#post-icons-id-comment:hover{
    height:25px;
    width:25px;
    font-size:x-large;
    color:blue;
}
#post-icons-id-transform:hover{
    height:25px;
    width:25px;
    font-size:x-large;
    color:green;
}#post-icons-id-border:hover{
    height:25px;
    width:25px;
    font-size:x-large;
    color:red;
}#post-icons-id-upload:hover{
    height:25px;
    width:25px;
    font-size:x-large;
    color:blue;
}

.search-button{
    display: flex;
    position: fixed;
    top:10px;
    right:45px;
    /* background-color: #eff3f4; */
    align-items:center;
    height:40px;
    width:25.5%;
    border-radius: 20px;
    padding: 25px;
    background-color:#eaefef;
    margin-bottom: 3px;
}
.search-button p1{
    color:#78909c;
    ;
    font-weight: 400;
}
.search-button .material-icons{
    font-size: x-large;
    
}
.trends-heading{
    height:fit-content;
    
}
.trends-heading h1{
    font-size:20px;
    font-weight: bold;
}
.space{
    height: 30px;
}
.trend-grey{
    /* background-color:#eff3f4; */
    border-radius: 15px;
    padding:10px;
}
#start{
    margin-top: 30px;
    background-color: #eaefef;
}
.trend-tweet{
    padding:5px;

    
    
 
}
.trend-tweet p1{
    font-size: 13px;
    color:#546572;
}
.trend-tweet h1{
    font-size: 15px;
    margin-bottom: 0px;
   

    
}
.trending-in{
    width: 320px;
    display: flex;
    justify-content: space-between;
}
.trending-in #more-settings{
    color:#546572;
}
.show-me-more{
    height: 45px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 8px;
}
.show-me-more p1 {
    color: #1d9bf0;
}
#who-follow{
    margin-top: 25px;
    padding-top: 5px;
    background-color: #eaefef;
    
}
.sticky{
    position: sticky;
    top:35px;
}
#end{
    top:299.9px;
    
}
#start{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-bottom: 0px;
}
#abso{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding-top:0px;
    background-color: #eaefef;
}

#f-account{
    display: flex;
    flex-direction: row;
    /* to keep account details at bottom */
    position:inherit;
}

.profile-picture{
    display: flex;
    flex-direction: column;
    height: 52px;
    width:52px;
    
}
.profile-picture img {
    border-radius: 50%;
}
.follow{
    width:100px;
    height:35px;
    background-color: #0F1419;
    display:flex;
    margin-left:25px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;

    
}
.follow-account{
    display:flex;
    flex-direction: column;
    margin-left: 35%;
}
.follow p1{
    color: white;
    font-size: 14px;
    font-weight: 800;
    margin:15px;
    
}
.terms-and-conditions{
    height: fit-content;
    width:auto;
    

}
.terms-and-conditions p1{
    font-size:13px;
    color:#546572;
    padding: 10px;
}
